<div class="col-xs-6 col-md-6">
    <p>Copyright 2014 - @WorkContext.CurrentSite.SiteName</p>
</div>
<div class="col-xs-6 col-md-6 text-right">
    <p>Designed & built by <a href="http://philipsenechal.com/" title="Philip Senechal" target="_blank">Philip Senechal</a></p>
</div>
