<div class="credits col-xs-5 col-md-5">
    <p class="poweredby">
        @T("Powered by <a href=\"{0}\" target=\"_blank\">DotNest</a>, the Orchard SaaS platform fueled by <a href=\"{1}\" target=\"_blank\">Lombiq</a>. See <a href=\"{1}\" target=\"_blank\">Lombiq's privacy policy</a> approved by the site's operator.", "https://dotnest.com", "https://lombiq.com", "https://lombiq.com/privacy-policy")
    </p>
</div>