@*
    ErrorPage(string Message, Exception Exception)
*@

<div class="text-center">
    <div class="fourohfourinner">
        <h1 class="fourohfour">
            <strong>500!</strong>
            <span>Oops. Something went wrong</span>
        </h1>
        <h3 class="sectionheader">An unhandled exception has occurred and the request was terminated</h3>
        <p>
            Please refresh the page<br />
            If the error persists, go back
        </p>
    </div>
</div>
