@{
    Script.Require("Styler");
}

<style type="text/css">
    .skin-chooser-toggle { width: 40px; height: 40px; display: block; line-height: 40px; text-align: center; font-size: 18px; position: absolute; top: -40px; right: -40px; background-color: #34495e; color: #ffffff; cursor: pointer; box-shadow: 0 0 5px #2c3e50; }
    .skin-chooser-wrap { width: 165px; height: auto; position: fixed; top: 150px; left: 0; z-index: 8888; background-color: #ffffff; padding: 10px; border-top: 40px solid #34495e; margin-left: -165px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; box-shadow: 0 0 5px #2c3e50; }
        .skin-chooser-wrap.show { margin-left: 0; }
        .skin-chooser-wrap .change-style { text-transform: uppercase; font-size: 14px; position: absolute; top: -30px; left: 15px; color: #95a5a6; }
        .skin-chooser-wrap h5 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }
        .skin-chooser-wrap .list-inline { text-align: left; }
            .skin-chooser-wrap .list-inline li { border: none; padding: 5px; }
                .skin-chooser-wrap .list-inline li:first-child { padding-left: 5px; }
            .skin-chooser-wrap .list-inline > li .base, .skin-chooser-wrap .list-inline > li .highlight { width: 35px; height: 35px; cursor: pointer; }
            .skin-chooser-wrap .list-inline > li #dark { background-color: #4d4f53; }
            .skin-chooser-wrap .list-inline > li #light { background-color: #dadada; }

            .skin-chooser-wrap .list-inline > li #red { background-color: #d03333; }
            .skin-chooser-wrap .list-inline > li #purple { background-color: #c563de; }
            .skin-chooser-wrap .list-inline > li #green-alt { background-color: #83de63; }
            .skin-chooser-wrap .list-inline > li #blue { background-color: #63abde; }
            .skin-chooser-wrap .list-inline > li #green { background-color: #63debd; }
            .skin-chooser-wrap .list-inline > li .base.active, .skin-chooser-wrap .list-inline > li .base:hover, .skin-chooser-wrap .list-inline > li .highlight.active, .skin-chooser-wrap .list-inline > li .highlight:hover { outline: 2px solid #2c3e50; }
</style>

<div id="skin-chooser-wrap" class="skin-chooser-wrap hidden-xs">
    <span class="change-style">@T("Change Styles")</span>
    <span class="skin-chooser-toggle"><i class="fa fa-cog"></i></span>
    <h5>@T("Base Color")</h5>
    <ul class="list-inline">
        <li>
            <div id="dark" class="base active"></div>
        </li>
        <li>
            <div id="light" class="base"></div>
        </li>
    </ul>
    <h5>@T("Highlight Color")</h5>
    <ul class="list-inline">
        <li>
            <div id="red" class="highlight active"></div>
        </li>
        <li>
            <div id="purple" class="highlight"></div>
        </li>
        <li>
            <div id="green-alt" class="highlight"></div>
        </li>
        <li>
            <div id="blue" class="highlight"></div>
        </li>
        <li>
            <div id="green" class="highlight"></div>
        </li>
    </ul>
</div>
